@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

* {
    box-sizing: border-box;
    /* border: 0.25px red solid; */
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-weight: 300;
}

nav {
    min-height: 70px;
    top: 0%;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    align-items: center;
}

img.logo {
    max-height: 80px;
    margin: -7%;
}

a.nav-login,
a.nav-signup {
    text-decoration: none;
    justify-content: center;
    min-width: 100px;
    border-radius: 5px;
    margin: 0.7em;
    padding: 0.7em;
    display: inline-flex;

}

a.nav-login {
    color: #ff9100;
    border: 1px solid #ff9100;
}

a.nav-signup {
    color: white;
    background-color: #ff9100;
    border: 1px solid #ff9100;
}

h1,
h4 {
    text-align: center;
    color: #4a525f;
}

h1 {
    font-weight: 500;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-weight: 400;
}

h4 {
    margin-top: -0.5em;
    font-weight: 300;
}


.page {
    padding: 5% 10% 5% 10%;
}

.page h1{
    font-size: 1.7em;
    margin-block-start: 1.5em;
}

div.form-links {
    padding-left: 8%;
    margin-bottom: 2.5em;
}

a.link {
    text-decoration: none;
    color: #c9c9c9;
    width: 100%;
    display: flex;
    margin-top: 1.5em;
}


.link span {
    color: #ff9100;
    text-decoration: underline;
    margin-left: 0.4em;
}

.container {
    display: grid;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
}

form {
    width: 100%;
    padding: 8%;
}

input[type="text"],
input[type="password"] {
    display: grid;
    -webkit-appearance: none;
    outline: none;
    border-style: none;
    width: 100%;
    height: 4em;
    margin-bottom: 3%;
    padding-bottom: 0.7em;
    border-bottom: #c9c9c9 1px solid;
    font-size: 1.1em;
}

label {
    color: #a1a7b0;
    text-align: left;
    padding-left: 0.5em;
}

button,
input[type=submit] {
    display: grid;
    border-style: none;
    background: #ff9100;
    font-size: 0.9em;
    height: 4em;
    color: white;
    margin-top: 5%;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

footer {
    padding: 2em;
    text-align: center;
    color: #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 0;
}

/* Become a Host */

.row {
    display: grid;
    padding: 1em 0em 3em 0em;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'ttl cnt';
}

.row button {
    width: 30%;
}

div.post-titles {
    grid-area: ttl;
    text-align: right;
    align-self: start;
    padding: 0em 2em 2em 0em;
    font-weight: 500;
}

.post-content {
    grid-area: cnt;
    align-items: center;
    align-self: start;
}

.tabs div.active {
    background: #ff9100;
    border: #ff9100 solid 1px;
    color: white;
}

.home-type>.post-content {
    display: inline-flex;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
}

div.home-type-box {
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 1.5em 0em 1.5em 0em;
    border: #cccccc solid 1px;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkbox-title {
    padding-bottom: 1.5em;
}

.price-input {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 0.5em;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.price-input input {
    border-top: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    margin-bottom: 0;
    padding: 1em;
}

.currency {
    color: white;
    padding: 1.2em;
    height: 100%;
    background-color: #ff9100;
    align-self: center;
    text-align: center;
}

.select-css {
    border: #cccccc solid 1px;
    margin-right: 1.5em;
    padding: 2em;
    display: flex;
    align-content: center;
    height: 70%;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px !important;
}

select {
    background: none;
    border-style: none;
    outline: none;
    width: 100%;
    align-self: center;
    justify-content: center;
    color: #3a3a3a;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1em;

}

.row-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 2%; */
}

.row-images>img {
    width: 100%;
    clip-path: inset(0% 5% 0% 5% round 10px);
}

/* Styling Checkbox */
.checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    height: 24px;
    width: 24px;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #cccccc;
}


.checkbox-label input:checked~.checkbox-custom {
    background-color: #ff9100;
    opacity: 1;
    border: 2px solid #cccccc;
}

.location-box,
.guest-box,
.guest-box,
.type-box,
.date-in-box,
.date-out-box,
.family-friendly-box {
    flex: 1;
    margin-left: 30px;
}

.location-box,
.guest-box,
.guest-box,
.date-in-box,
.date-out-box {
    border-right: 1px solid #dadada;
}

.first-row,
.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.small-container input[type="text"],
.small-container input[type="password"] {
    width: auto;
    margin: 0;
    display: inline;
    height: 2.5em;
    font-size: 1em;
    padding: 0;
}

.small-container select {
    width: auto;
    margin: 0;

}

.second-row {
    margin-top: 25px;
}

.first-row {
    margin-bottom: 25px;
}

.line-row {
    margin: 0 30px;
    height: 1px;
    background-color: #dadada;
}

.small-container form {
    padding: 5%;
}

.third-row {
    padding: 0 30px;
}

.indexheading {
    margin: 5vw 0 3vw 0;
}

.footer-logo {
    height: 40px;
    margin-right: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 30vw;
    padding: 1em 10%;
}

.search-row {
    display: flex;
}

.left-panel form {
    padding: 0;
    width: auto;
}

.left-panel {
    flex: 2;
}

.right-panel {
    flex: 1.5;
}

.searchbar #searchForDate {
    width: 50px;
    margin: 0;
}

.search-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchbar input[type="text"],
.searchbar input[type="password"] {
    height: auto;
    width: auto;
    font-size: 1em;
    display: inline;
}

.searchbar .type-box {
    border-right: 1px solid #dadada;
}

.searchbar .location-box,
.searchbar .guest-box,
.searchbar .guest-box,
.searchbar .type-box,
.searchbar .date-in-box,
.searchbar .date-out-box,
.searchbar .family-friendly-box {
    margin: 0;
    padding: 0 10px;
    flex: none;
    border: none;
}

.searchbar select {
    width: auto;
    margin: 5px 0;
}

.searchbar {
    display: grid;
    background-color: white;
    border: 1px solid #d9d9d9;
    height: 70px;
    border-radius: 10px;
    margin: 30px auto 0 auto;
    width: 90vw;
    font-size: .8em;
}

.gray-line {
    width: 1px;
    background-color: #dadada;
    height: 45px;
}

.search-results {
    width: 90vw;
    margin: 0 auto;
}

.search-results .white-card {
    display: flex;
    margin-top: 35px;
}

.search-results img {
    height: 180px;
    margin-right: 25px;
}

.search-results a {
    text-decoration: none;
    color: black;
}

.long-grey-line {
    height: 1px;
    width: 100%;
    background-color: #dadada;
    margin-top: 35px;
}
.right-panel{
    background-image: url('../images/map.JPG');
    background-size: cover;
    margin-top: 35px;
}
#login, #signup{
    width: 40vw;
    margin: 0 auto;
    font-size: .9em;
}
#login input[type="text"], #login input[type="password"], #signup input[type="text"], #signup input[type="password"]{
    height: 2.5em;
    padding: 0;
}
#signup input[type="text"], #signup input[type="password"]{
    margin-bottom: 7%;
}
#login form, #signup form{
    padding: 0 8% 0 8%;
}
